//Default button
.btn-default {
    background-color: $morethan-green;
    color: $white;
    border: 1px $white solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}


//Custom Radio
.custom-radio ~ .fa.fa-dot-circle-o,
.custom-radio:checked ~ .fa.fa-circle-o{
    display: none;
}

.custom-radio:checked ~ .fa.fa-dot-circle-o{
    color: $morethan-green;
    display: inline;
}

.custom-radio ~ .fa.fa-circle-o{
    color: $grey;
    display: inline;
}

.custom-radio:hover ~ .fa {
	color: $morethan-green;
}

.custom-buttons label {
	display: inline-block;
  width: 80px;
  padding: 6px 0;
  text-align: left;
  .fa {
    font-size: 25px;
  }
  .fa, span {
    vertical-align: middle;
  }

  &:hover {
  	color: $morethan-green;
  }

  &.active,
  &:active {
      color: $morethan-green;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
}
