/**
 * Homepage banner
 */

.homepage__banner {
	background: url(/images/homepage-banner.jpg) center 35% no-repeat;
	background-size: cover;
	text-align: left;
	font-size: 36px;
	margin-top: 50px;
	padding: 40px 0;
	line-height: normal;
}
