body {
	background-color: $lgrey;
}

.content-container {
    margin: 0 5%;
}

form {
  margin-top: 20px;
}

//Same height cols

.row.same-height-cols {
    overflow: hidden;
		.pet-section,
		.user-section,{
		    margin-bottom: -99999px;
		    padding-bottom: 99999px;
		}
}
