//Colors
$morethan-green: #0C8400;
$grey: #c8c8c8;
$lgrey: #f1f1f1;
$white: #ffffff;
$error-red: #ce2f23;

//Font Weight
$font-regular: 500;
$font-bold: 700;

//Font Family

$font-family: 'Open Sans Condensed', sans-serif;


h1 {
	color: $white;
	text-shadow: 2px 2px $grey;
	font-size: 54px;
	text-transform: uppercase;
	font-family: $font-family;
	font-weight: $font-bold;
	margin-left: 65px;
	letter-spacing: 2px;
	@media (min-width: $screen-sm-min) {
		margin-left: 75px;
	}
}

h2 {
	color: $morethan-green;
	font-size: 24px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	font-family: $font-family;
	font-weight: $font-bold;
	letter-spacing: 5px;
}
