form {

	.pet-section,
	.user-section,
	.policy-section {
		background-color: $white;
		padding: 20px;
	}

	.policy-section {
		margin-top: 10px;

		.policy-container {
			height:120px;
			border:1px solid #ccc;
			overflow:auto;
			margin: 10px 0;

			p {
				padding: 10px 20px;
			}
		}
	}

	.form-group {
		padding-top: 5px;
	}

	input,
	select {
		margin-top: 10px;
	}

	label {
		display: block;
	}

	.error {
		color: $error-red;
		font-weight: $font-bold;
		padding: 10px 0;
	}
}
