body {
	background-color: $lgrey;
}

.content-container {
    margin: 0 5%;
}

form {
  margin-top: 20px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
