//Colors
$morethan-green: #0C8400;
$grey: #c8c8c8;
$lgrey: #f1f1f1;
$white: #ffffff;
$error-red: #ce2f23;

//Font Weight
$font-regular: 500;
$font-bold: 600;

h1 {
	color: $morethan-green;
	font-size: 54px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	margin-left: 75px;
	letter-spacing: 5px;
}
